@import "index.css";

li > p{
    color:black;
}

#main{
    margin-top: 110px;
}

.item-text-box{
    text-align: center;
    border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.item-text-box div {
    margin-top: 20px;
}

.course {    
    background: #64328a;
    padding: 20px;
    width: 200px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color:white;
}

.course:hover {
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: #64328a;
    color: #64328a;
    transition: 0.2s;
}

.course a{
    color:white;
    display: block;
}

.course-bullets {
    list-style-type: none;
    display: block;
}

.course-bullets a{
    display: inline-block;
}